{
  "parser": "@babel/eslint-parser",
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly",
    "process": "readonly",
    "module": "readonly"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "react-hooks",
    "prettier",
    "import"
  ],
  "settings": {
    "react": {
      "version": "detect"
    },
    "react-hooks": {
      "version": "detect"
    },
    "import": {
      "version": "detect"
    },
    "prettier": {
      "version": "detect"
    }
  },
  "rules": {
    "react/jsx-uses-react": 1,
    "react/jsx-no-undef": 2,
    "react/jsx-wrap-multilines": 2,
    "react/no-string-refs": 0,
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "all"
      }
    ],
    "eqeqeq": ["error", "always"],
    "no-return-await": 2,
    "require-await": 2,
    "comma-dangle": ["error", "always-multiline"],
    "no-console": 0,
    "semi": ["error", "always"],
    "react/no-direct-mutation-state": ["off"],
    "react/display-name": ["off"],
    "react-hooks/rules-of-hooks": ["error"],
    "react-hooks/exhaustive-deps": ["warn"],
    "react/prop-types": ["off"]
  }
}